body{
  /* font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif; */
font-family: 'Source Code Pro', monospace;
font-weight: bolder;
background-color:rgb(145, 217, 163);
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}