    .skills{
       text-align: center;
       font-family: "Satisfy", cursive;
}
h2{
    text-align: center;
    text-decoration: underline;
    /* color:rgb(190, 233, 231); */
    color:lightseagreen;
    
}

